* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

main {
  background-color: black;
  color: white;
  min-height: 100vh;
}

main .page_title {
  padding: 2rem 2rem 1rem;
}

main .movies_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 3rem;
}

main .movies_list li {
  width: 25%;
  padding: 1rem 0;
  text-align: center;
}

main .movies_list li div {
  padding: 0.3rem 0;
}

main .movies_list li h3,
main .movies_list li h4 {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

